<ion-header>
  <ion-navbar>
    <ion-title>Set Pin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="studentRegForm">
    <ion-list>
        <ion-item>
            <ion-label floating>School</ion-label>
        <ion-select [(ngModel)]="model.school" value="" [formControl]="studentRegForm.controls['school']" [ngClass]="{'error-border':!studentRegForm.controls['school'].valid}">
            <ion-option *ngFor="let school of schools" [value]="school.id"> {{school.name}}</ion-option>
          </ion-select>
        </ion-item>
        <div [hidden] class="error-box" *ngIf="studentRegForm.controls['school'].hasError('required') && studentRegForm.controls['school'].touched">* School is required</div>
       <ion-item>
      
        <ion-label floating>Student ID</ion-label>
        <ion-input [(ngModel)]="model.studentId" type="text" value="" [formControl]="studentRegForm.controls['studentId']" [ngClass]="{'error-border':!studentRegForm.controls['studentId'].valid}"
        ></ion-input>
      </ion-item>
      <div [hidden] class="error-box" *ngIf="studentRegForm.controls['studentId'].hasError('required') && studentRegForm.controls['studentId'].touched">* Student ID is required</div>
		    <div [hidden] class="error-box" *ngIf="studentRegForm.controls['studentId'].hasError('pattern') && studentRegForm.controls['studentId'].touched">* Student ID should be only numbers</div>
       <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [(ngModel)]="model.password" type="password" value="" [formControl]="studentRegForm.controls['password']" [ngClass]="{'error-border':!studentRegForm.controls['password'].valid}"
          ></ion-input>
        </ion-item>
        <div [hidden] class="error-box" *ngIf="studentRegForm.controls['password'].hasError('required') && studentRegForm.controls['password'].touched">* Password is required</div>
     <ion-item>
          <ion-label floating>Nick Name</ion-label>
          <ion-input [(ngModel)]="model.nickName" type="text" value="" [formControl]="studentRegForm.controls['nickName']" [ngClass]="{'error-border':!studentRegForm.controls['nickName'].valid}"
          ></ion-input>
        </ion-item>
        <div [hidden] class="error-box" *ngIf="studentRegForm.controls['nickName'].hasError('required') && studentRegForm.controls['nickName'].touched">* Nick Name is required</div>
     
     
    </ion-list>
  <div padding>
    <button type="submit" [disabled]="!studentRegForm.valid" ion-button color="primary" block (click)="register()">Register</button>
  </div>
 
</form> 
</ion-content>