<ion-header>
  <ion-navbar>
    <ion-title>Set Pin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="studentRegForm">
    <ion-list>
        <ion-item>
            <ion-label floating>School</ion-label>
        <ion-select [(ngModel)]="model.school" value="" [formControl]="studentRegForm.controls['school']" [ngClass]="{'error-border':!studentRegForm.controls['school'].valid}">
            <ion-option *ngFor="let school of schools" [value]="school.id"> {{school.name}}</ion-option>
          </ion-select>
        </ion-item>
       <!-- <ion-item>
      
        <ion-label floating>Pin</ion-label>
        <ion-input [(ngModel)]="model.pin" type="password" value="" [formControl]="studentRegForm.controls['pin']" [ngClass]="{'error-border':!studentRegForm.controls['pin'].valid}"
        ></ion-input>
      </ion-item>
      <div [hidden] class="error-box" *ngIf="studentRegForm.controls['pin'].hasError('required') && studentRegForm.controls['pin'].touched">* Pin is required</div>
      <div [hidden] class="error-box" *ngIf="studentRegForm.controls['pin'].hasError('minlength') && studentRegForm.controls['pin'].touched">* Pin should be 4 digits</div>
    		    <div [hidden] class="error-box" *ngIf="studentRegForm.controls['pin'].hasError('maxlength') && studentRegForm.controls['pin'].touched">* Pin should be maximum 4 digits</div>
    		    <div [hidden] class="error-box" *ngIf="studentRegForm.controls['pin'].hasError('pattern') && studentRegForm.controls['pin'].touched">* Pin should be only numbers</div>
      <ion-item>
          <ion-label floating>Confirm Pin</ion-label>
          <ion-input [(ngModel)]="model.cpin" type="password" value="" [formControl]="studentRegForm.controls['cpin']" [ngClass]="{'error-border':!studentRegForm.controls['cpin'].valid}"
          ></ion-input>
        </ion-item>
        <div [hidden] class="error-box" *ngIf="studentRegForm.controls['cpin'].hasError('required') && studentRegForm.controls['cpin'].touched">* Confirm Pin is required</div>
        <div [hidden] class="error-box" *ngIf="studentRegForm.controls['cpin'].hasError('minlength') && studentRegForm.controls['cpin'].touched">* Confirm Pin should be 4 digits</div>
        <div [hidden] class="error-box" *ngIf="studentRegForm.controls['cpin'].hasError('maxlength') && studentRegForm.controls['cpin'].touched">* Confirm Pin should be maximum 4 digits</div>
        <div [hidden] class="error-box" *ngIf="studentRegForm.controls['cpin'].hasError('pattern') && studentRegForm.controls['cpin'].touched">* Confirm Pin should be only numbers</div> -->
    </ion-list>
  <div padding>
    <button type="submit" [disabled]="!studentRegForm.valid" ion-button color="primary" block (click)="setPin()">Set Pin</button>
  </div>
 
</form> 
</ion-content>